body{
position: absolute;

left: 0px;
top: 0px;

background: #9C835F;
}
.game-section{
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    align-self: center;
}
.header{
    background: #9C835F;
   
}
ul{
    list-style: none;
}
.logo{
 position: absolute;
width: 50px;
height: 50px;
margin-left: 59.5px;
margin-top: 13.5px;
list-style: none;

}
.back{
position: absolute;
width: 24px;
height: 43px;
margin-left: 18.5px;
margin-top: 12px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 350;
font-size: 36px;
line-height: 48px;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #724C21;
}
.titleGame{
position: absolute;
width: 250px;
height: 31px;
margin-left: 120px;
margin-top: 20px;


font-family: 'Open Sans';
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
text-align: center;

color: #F9B23D;




}
.game-player,.com-player{
    margin-top: 150px;
    margin-left: 296px;

}

#r, #p, #s,#r-com,#p-com,#s-com{
    width: 128px;
    height: 92px;
    
    
}
 #r:hover{
    border: 223px 204px;
    left: 903px;
    top: 209px;
    
    border-radius: 30px;
    transition-duration: 1s;

    transform: scale(1.1) rotate(30deg );

} 
#p:hover{
    border: 223px 204px;
    left: 903px;
    top: 209px;
    
    border-radius: 30px;
    transition-duration: 1s;


    transform: scale(1.1) rotate(30deg );
}
#s:hover{
    border: 223px 204px;
    left: 903px;
    top: 209px;
    border-radius: 30px;
    transition-duration: 1s;

    transform: scale(1.1) rotate(30deg );
}
/* #rock-com:hover{
    border: 223px 204px;
    left: 903px;
    top: 209px;
    background: #C4C4C4;
    border-radius: 30px;

    transform: scale(1.1) rotate(30deg );
}
#paper-com:hover{
    border: 223px 204px;
    left: 903px;
    top: 209px;
    background: #C4C4C4;
    border-radius: 30px;

    transform: scale(1.1) rotate(30deg );
}
#scissors-com:hover{
    border: 223px 204px;
    left: 903px;
    top: 209px;
    background: #C4C4C4;
    border-radius: 30px;

    transform: scale(1.1) rotate(30deg );
} */

.result-container{
    position: absolute;
width: 296px;
height: 186px;
left: 450px;
top: 300px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;

line-height: 196px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;



}
.versus{
    color: #BD0000;
    font-size: 144px;
    /* display: initial; */
   
}
.pl-win{
    position: absolute;
    width: 271.11px;
    height: 166.93px;
    color: white;
    padding-top: 22%;
    
    background: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    display: none;
    
    
}
.com-win{
    position: absolute;
    width: 271.11px;
    height: 166.93px;
    color: white;
    padding-top: 22%;
    
    background: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    display: none;

    
}
.draw{
     background: #035B0C;
     position: absolute;
     width: 271.11px;
     height: 166.93px;
     color: white;
     padding-top: 22%;
     
     background: #4C9654;
     border-radius: 10px;
     transform: rotate(-28.87deg);
     display: none;
    
     
    
}
.refresh{
    position: absolute;
    width: 77px;
    height: 71px;
    margin-top: 238px;
    align-items: center;
    margin-left: 120px;


  


}





